
@{
    ViewBag.Title = "Geri Bildirimler";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Geri Bildimler</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Dashboards")">Yönetim</a>
            </li>
            <li class="active">
                <strong>Geri Bildirimler</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center">
                <div class="text-center animated pulse">
                    <h3 class="font-bold">Modul Bulunamadı</h3>
                    <div class="error-desc">
                        Bu modül henüz geliştirilmedi.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>