<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h1>İptal etmek istediğinize emin misiniz ?</h1>
</div>
<!-- /modal-header -->
<div id="cancel_confirm" class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox-content text-left">
                <p class="text-left">Lütfen ilanın iptal edilme nedenini aşağıdan seçin. Seçiminiz ilan sahibi tarafından görüntülenecektir.</p>

                <div class="sk-spinner sk-spinner-double-bounce">
                    <div class="sk-double-bounce1"></div>
                    <div class="sk-double-bounce2"></div>
                </div>
                <div>
                    <form id="cancel_form">
                        <select name="description" data-placeholder="Lütfen iptal nedenini belirtin." class="chosen-select" tabindex="2">
                            <option value="">Lütfen iptal nedenini belirtin.</option>
                            <option value="Görseller kalitesiz veya boyutları küçük.">Görseller kalitesiz veya boyutları küçük.</option>
                            <option value="İlan açıklamaları yanıltıcı nitelikte.">İlan açıklamaları yanıltıcı nitelikte.</option>
                            <option value="İlan reklam, adres veya iletişim bilgisi içermekte.">İlan reklam, adres veya iletişim bilgisi içermekte.</option>
                            <option value="Kişi gizlilik haklarına uygunsuz.">Kişi gizlilik haklarına uygunsuz.</option>
                            <option value="İlan bilgileri yetersiz veya eksik.">İlan bilgileri yetersiz veya eksik.</option>
                            <option value="Hatalı içerik ve spam kayıt şüphesi.">Hatalı içerik ve spam kayıt şüphesi.</option>
                        </select>
                    </form>
                
                </div>

            </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" data-dismiss="modal">Kapat</button>
    <button type="button" class="btn btn-danger cancel">İptal Et</button>
</div>
<script>

    $(document).ready(function () {
        $('.chosen-select').chosen({ width: "100%" });

        $('button.cancel').on('click', function () {
            $('#cancel_confirm').find('.ibox-content').toggleClass('sk-loading');

            if ($('.chosen-select').val() == "") {
                $('#cancel_confirm').find('.ibox-content').toggleClass('sk-loading');
                toastr.error("Lütfen bir iptal nedeni seçin.", "Hata");
                return;
            }

            var formData = $('#cancel_form').serializeArray();
            formData[1] = { 'name': 'id', 'value': @ViewBag.id};
            
            $.post('/Advert/Cancel', formData).done(function (data) {
                toastr.success("İlan iptal edildi.", "Tamam");
                $('.modal ').modal('hide');
                setTimeout(() => window.location.reload(), 2000);
            }).fail(function () {
                toastr.error("Tekrar deneyin.", "Hata");
            }).always(function () {
                $('#cancel_confirm').find('.ibox-content').toggleClass('sk-loading');
            });


        });
    });

</script>